<nav>
  <a class="home" href="/"><img class="icon" src="http://i.imgur.com/PgxrRFA.png?1" alt="home"></a>
  <a class="menu" href="/user"><img class="avatar" src="https://lh5.googleusercontent.com/-308mrmWziQI/AAAAAAAAAAI/AAAAAAAAADw/9o3EliAGByU/photo.jpg?sz=50" alt="avatar"></a>
  <a class="menu" href="/browse"><img class="icon" src="http://i.imgur.com/KAg1Yyz.png?1" alt="browse"></a>
</nav>
<div class="container">
  <h1>{{ title }}</h1>
  {{# each profile }}
    <h6 style="display: inline-block;">Profile Name: <a href="user/{{ this._id }}">{{ this.name }}</a></h6>
    <a href="user/{{ this._id }}" style="display: inline-block; text-indent: 1em;">
    <img src="{{ this.avatar }}"></a>
    <br>
    <br>
  {{/each}}
</div>
