<nav>
  <a class="home" href="/"><img class="icon" src="https://i.imgur.com/PgxrRFA.png?1" alt="home"></a>
  <a class="menu" href="/user"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/browse"><img class="icon" src="https://i.imgur.com/DtKBRC0.png?1" alt="browse"></a>
</nav>
<div class="main-div container">
  <h1 class="fadeIn page-title">{{ title }}</h1>
  {{# each profile }}

    <div class="prof-name"><img class="prof-avatar" src="{{ this.avatar }}"><a class="prof-name" href="user/{{ this._id }}">{{ this.name }}</a></div>
    {{!-- <a href="user/{{ this._id }}" style="display: inline-block; text-indent: 1em;"> --}}
    <br>
    <br>
  {{/each}}
</div>
