<nav>
  <a class="home" href="/"><img class="icon" src="https://i.imgur.com/PgxrRFA.png?1" alt="home"></a>
  <a class="menu" href="/user"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/browse"><img class="icon" src="http://i.imgur.com/DtKBRC0.png?1" alt="browse"></a>
</nav>
<div class="main-div container">
  <h1 class="fadeIn page-title">question #<span class="counter">1</span>:</h1>
  <p class="question">{{question}}</p>

  <ul id="mc">
    {{#each answers}}
    {{#if this.correct}}
      <li class="mc-list"><button class="mc-btn correct" data-correct="true">{{this.answer}}</button></li>
    {{else}}
      <li class="mc-list"><button class="mc-btn incorrect" data-correct="false">{{this.answer}}</button></li>
    {{/if}}
  {{/each}}
  </ul>
  <div class="score-counter">
    <p>playerScore: <span id="score">0</span></p>
  </div>
</div>

<p id="gameUrl" style="display: none">{{gameUrl}}</p>
<p id="category" style="display: none">{{category}}</p>
<p id="gameMode" style="display: none">{{playerMode}}</p>
<p id="mongoId" style="display: none">{{mongoId}}</p>

<input type="hidden" value="{{name}}" id="username">

