<div class="container">
  <h1>Question #<span class="counter">1</span>:</h1>
  <p class="question">{{question}}</p>

  <ul id="mc">
    {{#each answers}}
    {{#if this.correct}}
      <li class="mc-list"><button class="mc-btn correct" data-correct="true">{{this.answer}}</button></li>
    {{else}}
      <li class="mc-list"><button class="mc-btn incorrect" data-correct="false">{{this.answer}}</button></li>
    {{/if}}
  {{/each}}
  </ul>

  <ul class="score-counter">
    <li class="score-li">Score: <span id="score">0</span></li>
  </ul>

</div>

<p id="gameUrl" style="display: none">{{gameUrl}}</p>

