<nav>
  <a class="home" href="/"><img class="icon" src="http://i.imgur.com/PgxrRFA.png?1" alt="home"></a>
  <a class="menu" href="/user"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/browse"><img class="icon" src="http://i.imgur.com/DtKBRC0.png?1" alt="browse"></a>
</nav>
<div class="container">
   <h1>{{ title }}</h1>
   <p><div id="profUserNameEdit">userName: {{ info.name }} <a href="#" id="profEditLink">edit</a></div>
      <form method="post" action="/user" class="profileEdit">
        <input id="nameReplace" name="newName" class="profileEdit" placeholder="update username">
        <button type="submit" class="profileEdit">submit</button>
      </form>
   </p>
   <p>gamesWon: {{ wins }}</p>
   <p>gamesPlayed: {{ totalGames }}</p>
   <a href="/auth/logout">logout</a>
</div>

