<div class="container">
   <h1>{{ title }}</h1>
   <p>Username: {{ username }}</p>
   <p>Games Won: {{ wins }}</p>
   <p>Games Played: {{ totalGames }}</p>
</div>

<h1>Profile Page</h1>

{{!-- Display User Information --}}
{{user.displayName}}
<img src="{{user.image.url}}">
{{!-- Display a link to logout --}}
<a href="/auth/logout">Logout</a>

