<nav>
  <a class="home" href="/"><img class="icon" src="http://i.imgur.com/PgxrRFA.png?1" alt="home"></a>
  <a class="menu" href="/user"><img class="avatar" src="https://lh5.googleusercontent.com/-308mrmWziQI/AAAAAAAAAAI/AAAAAAAAADw/9o3EliAGByU/photo.jpg?sz=50" alt="avatar"></a>
  <a class="menu" href="/browse"><img class="icon" src="http://i.imgur.com/KAg1Yyz.png?1" alt="browse"></a>
</nav>
<div class="container">
   <h1>{{ title }}</h1>
   <p>Username: {{ info.name }}</p>
   <p>Games Won: {{ wins }}</p>
   <p>Games Played: {{ totalGames }}</p>
</div>

<h1>Profile Page</h1>

{{!-- Display User Information --}}
<img src="{{ info.avatar }}">
{{!-- Display a link to logout --}}

