<div class="container">
   <h1>{{ title }}</h1>
   <p>Username: {{ info.name }}
    <form method="post" action="/user">
    <input id="nameReplace" name="newName" placeholder="Replace profile name">
    <button type="submit">Submit Change</button>
    </form>
  </p>
   <p>Games Won: {{ wins }}</p>
   <p>Games Played: {{ totalGames }}</p>
</div>

<h1>Profile Page</h1>

{{!-- Display User Information --}}
{{ info.name }}
<img src="{{ info.avatar }}">
{{!-- Display a link to logout --}}
<a href="/auth/logout">Logout</a>
